@model VidlyModels.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<h2>@(Model == null ? "Customer not found in database. Please check again" : Model.Name)</h2>
