@model IEnumerable<VidlyModels.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
<table id="customers" class="table	table-bordered	table-hover">

    @if (Model.Count() > 0)
    {
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { customer.Id }, null)</td>
            @*<td>@Ajax.ActionLink(customer.Name, "Edit", "Customers", new { customer.Id } ,new AjaxOptions { HttpMethod = "Put" })</td>*@

            <td>@customer.MembershipType.Name</td>
            <td>
                <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
            </td>
        </tr>
        }
    </tbody>
    }
    else
    {
        <thead><tr><td>No customers have been added yet.</td></tr></thead><tbody></tbody>
    }
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable();


            $("#customers .js-delete").on("click", function () {
                var button = $(this);

                if (confirm("Are you sure you want to delete this customer?")) {
                    $.ajax({
                        url: "http://localhost:12345/api/customers/remove/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        //crossDomain: true,
                        success: function () {
                            button.parents("tr").remove();
                        },
                        failure: function () {
                            console.log("failed");
                        }
                    });
                }
            });

        });
    </script>
}